

.header {
    background-color: #1b2127;
    color: white;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  ol,
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  figure {
    margin: 0;
  }
  
  .header a {
    color: white;
    text-decoration: none;
  }
  .menu {
    height: inherit;
  }
  .header ol {
    display: flex;
    height: inherit;
  }
  .header ol li {
    height: inherit;
  }
  .header a {
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 10px;
  }
  .flexbox {
    display: flex;
    /* flex-wrap: nowrap; */
    flex-wrap: wrap;
    /* flex-direction: column; */
  }
  
  .box {
    width: 50px;
    height: 50px;
    margin: 5px;
    border: 1px solid red;
  
    flex-shrink: 0;
  }
  .hero {
    height: 300px;
    background-color: #1b2127;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow: 0px 0px 6px black;
  }
  
  .hero-image{
    object-fit: cover;
  }

  #acerca {
    background-color: #fafafa
   }
  
  
  .acerca-details {
    /*border: 1px solid gray;*/
    border-radius: 10px;
    margin-top: 1px;
    margin-bottom: 10px;
    padding: 20px;
    background: #fafafa;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .acerca-foto {
      height: 400px;
      width: 90%;
      max-width: 40vh;
      margin: 1em auto;
      border-radius: 1em; 
  }
  .acerca-titulo {
    text-decoration: underline;
    color: #40D9BD;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    text-align: end 
  }
  .acerca-parrafo {
    font-family: "Raleway", sans-serif;
    font-size: 1.2em;
    text-align: justify; 
  }
  .separador_izquierdo i.fa {
    color: #40D9BD;
    float: left;
    margin-top: -27px;
  }  
  .portfolio {
    background: #fafafa;
    padding: 20px;
    margin-top: -15px;
    /* background: red; */
  }
  
  .project {
    /* border-top: 10px solid red;
    border-right: 10px solid green;
    border-left: 10px solid orange;
    border-bottom: 10px solid pink; */
    /* color: blue; */
    /* border-top-color: red;
    border-top-width: 15px;
    border-top-style: solid; */
    border: 1px solid gray;
    border-radius: 10px;
    /* border-top-left-radius: 50px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
    /* margin: 10px; */
    margin-bottom: 15px;
    /* margin-right
    margin-left 
    margin-top */
    padding: 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .project-course,
  .project-date,
  .project-url {
    margin: 10px 0;
  }
  .project-description {
    font-size: 20px;
  }
  .project strong {
    font-family: 'Fjalla One', sans-serif;
  }
  
  
  .project-title {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  
  .project-details {
    width: 50%;
  }
  
  .project-imageContainer {
    width: 50%;
  }
  
  .project-imageContainer img {
    max-width: 100%;
  }

  .event-list {
    display: flex;
    flex-wrap: wrap;
  }
  .event-list-title {
    margin-left: 20px;
  }
  .event { 
    margin: 1%;
    width: 48%;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    background: #f4fbff;
  }
  .event img {
    width: 480px;
    height: 200px;
    object-fit: cover;
  }
  .event-detail {
    margin: 20px 40px;
    margin-top: -40px;
    background-color: white;
    position: relative;
    padding: 20px;
    text-align: center;
  }
  .event-description {
    text-align: center;
  }
  
  .event-url {
    color: #056fff;
    border: 1px solid;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .event-url-git {
    color: darkcyan;
    border: 1px solid;
    text-decoration: none;
    border-radius: 5px; 
  }













