@font-face {
    font-family: 'icomoon';
    src:  url('../iamgen/fonts/icomoon.eot?wgp8fk');
        src:  url('../imagen/fonts/icomoon.eot?wgp8fk#iefix') format('embedded-opentype'),
      url('../imagen/fonts/icomoon.ttf?wgp8fk') format('truetype'),
      url('../imagen/fonts/icomoon.woff?wgp8fk') format('woff'),
      url('../imagen/fonts/icomoon.svg?wgp8fk#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-Menu:before {
    content: "\e900";
  }
  
  
  body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
  }
  
  h1, 
  h2,
  h3,
  h4,
  h5,
  h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    /* font-style: italic; */
  }
  
  h1 {
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -.2px;
    color: white;
    margin: 0;
    /* margin: 100px 150px 70px 30px; */
    /* text-transform: uppercase; */
    /* text-decoration: dashed; */
  }
  h1 strong {
    color: #026fff;
  }
  h2 {
    color: #026fff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
  }
.titulo-pro {
  font-size: 40px;
    line-height: 1.5;
    letter-spacing: -.2px;
    color: #1b2127;
}

.header {
    background: linear-gradient(to right, red, black);
    /* background-color: #1b2127; */
    color: white;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between; 
    flex-wrap: wrap;
  }
  
  ol,
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  figure {
    margin: 0;
  }
  
  .header a {
    color: white;
    text-decoration: none;
  }
  .nav {
    height: inherit;
  }
  
  .header ol {
    display: flex;
    height: inherit;
  }
  .header ol li {
    height: inherit;
  }
  .header a {
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 10px;
  }
  .flexbox {
    display: flex;
    /* flex-wrap: nowrap; */
    flex-wrap: wrap;
    /* flex-direction: column; */
  }
  
  .box {
    width: 50px;
    height: 50px;
    margin: 5px;
    border: 1px solid red;
  
    flex-shrink: 0;
  }
  .hero {
    height: 300px;
    background-color: #1b2127;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow: 0px 0px 6px black;
  }
  
  .hero-image{
    object-fit: cover;
  }

  #acerca {
    background-color: #fafafa
   }
  
  
  .acerca-details {
    /*border: 1px solid gray;*/
    border-radius: 10px;
    margin-top: 1px;
    margin-bottom: 10px;
    padding: 20px;
    background: #fafafa;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .acerca-foto {
      /* height: 400px; */
      /* box-shadow: 0px 0px 2px 1px #e6e5e9; */
      box-shadow: 0px 0px 17px 10px #e6e5e9;
      width: 90%;
      max-width: 40vh;
      margin: 1em auto;
      border-radius: 100%; 
  }
  .acerca-titulo {
    text-decoration: underline;
    /* color: #40D9BD; */
    background: linear-gradient(to right, red, black);
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    text-align: end 
  }
  .acerca-parrafo {
    font-family: "Raleway", sans-serif;
    font-size: 1.2em;
    text-align: justify; 
  }
  .separador_izquierdo i.fa {
    color: #40D9BD;
    float: left;
    margin-top: -27px;
  }  
  .portfolio {
    background: #fafafa;
    padding: 20px;
    margin-top: -15px;
    /* background: red; */
  }
  
  .project {
    box-shadow: 0px 0px 2px 1px #e6e5e9;
    /* border: 1px solid gray; */
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .project-course,
  .project-date,
  .project-url {
    margin: 10px 0;
  }
  .project-description {
    font-size: 20px;
  }
  .project strong {
    font-family: 'Fjalla One', sans-serif;
  }
  
  
  .project-title {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  
  .project-details {
    width: 50%;
  }
  
  .project-imageContainer {
    width: 50%;
  }
  
  .project-imageContainer img {
    max-width: 100%;
  }


.titulo-carousel {
  background: antiquewhite;
  text-decoration: underline;
  text-align: center;
  color: #1b2127
}
  .carousel-inner  {
    margin: auto;
}
.carousel-inner img {
    max-width: 100%;
}
  .contact {
    background-color: #056fff;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  
  
  .social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background-size: 50px 50px;
  }
  
  .social-link.twitter {
    background-image: url('../imagen/iconmonstr-twitter-1.svg');
  }
  .social-link.facebook {
    background-image: url('../imagen/iconmonstr-facebook-6.svg');
  }
  .social-link.github {
    background-image: url('../imagen/iconmonstr-github-1.svg');
  }
  .social-link.linkedin {
    background-image: url('../imagen/iconmonstr-linkedin-3.svg');
  }
  
  
  .form-email input {
    border-color: gray;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 20px 10px 25px;
    background-image: url('../imagen/envelope.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
    
  }
  
  .contact-mail {
    display: block;
    /* width: 50px; */
    margin-top: 10px;
    border: 1px solid;
    color: black;
    padding:  5px;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    background: white;
    display: inline-block;
    margin: auto;
    padding: 5px;
  
  }
  
  .form-email h3 { 
    font-family: 'Source Sans Pro', sans-serif;
  }
  .container {
    max-width: 1000px;
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
  }
  .footer {
    color: white;
    background: linear-gradient(to right, red, black);
    /* background-color: #1b2127; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer img {
    vertical-align: middle;
  }
  
  .footer a {
    color: white;
  }
  .footer p {
    margin: 0;
  }
  .diseño {
    margin-left: auto;
  }

  .burger-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(to top, red, orange, gray, green, blue);
    /* background-color: rgba(0, 0, 0, .8); */
    display: none;
    line-height: 40px;
    text-align: center;
    position: fixed;
    z-index: 4;
    left: 5px;
    top: 5px;
    color: white;
  }

  @media screen and (max-width: 1023px) {
     .portfolio {
        padding: 0;
      }
      .container {
        padding: 0 1em;
      }
      .hero {
        height: auto;
        position: relative;
        overflow: hidden;
        padding: 2em;
      }
      .hero-image {
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
      }
      h1 {
        font-size: 2em;
        z-index: 2;
      }
    
    }
    
    .html-video {
      width: 100%;
      height: auto;
      /* max-width: 100%; */
    }
    
    .youtube-video {
      /* width: 100%; */
      /* height: auto; */
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    
    .flexible-video {
      width: 100%;
      height: 0;
      padding-top: 56.25%;
      background: blue;
      position: relative;
    }
    .contact-email {
      margin-left: 4.5em
    }

  @media screen and (max-width: 767px) {
    h2 {
        font-size: 1.2em;
        margin: .5em 0;
      }
      .burger-button {
        display: block;
    }
        .header {
        display: block;
        height: auto;
      }
      .header ol {
        display: block;
      }
      .header ol li {
        height: 50px;
      }
      .header a {
        justify-content: center;
        height: 40px;
        font-size: 2em;
        text-decoration: underline;
        margin-bottom: .5em;
      }
      .header .logo {
        text-align: center;
      }
    
      .menu {
        position: fixed;
        background: rgba(5, 111, 255, .9);
        z-index: 3;
        top: 0;
        left: -100vw;
        width: 100vw;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;
      }
      .menu.is-active {
        left: 0;
      }
    
      .project {
        display: block;
      }
      .project-imageContainer {
        width: auto;
        text-align: center;
      }
      .project-details {
        width: auto;
        /* font-size: 10px; */
      }
      .project-course, .project-date, .project-url { 
        margin: .3em 0;
      }
      .project-title {
        font-size: 1.5em;
        margin-bottom: .3em;
      }
      .project-url {
        font-size: 1em;
    
      }
      .project-course {
        font-size: .7em;
    
      }
      .project-date {
        font-size: 1em;
    
      }
      .project-description {
        font-size: 1em;
    
      }
      
    }
      
  
  @media screen and (max-width: 480px) {
    h1 {
        font-size: 1.5em;
      }
      .project-details {
        font-size: 14px;
      }
    
      .event-detail {
        /* 1em = 16px */
        margin: -2em .5em .5em;
        padding: 1em;
      }
    
      .contact {
        height: auto;
        padding: 1.5em 0;
        text-align: center;
        display: block;
      }
      .form-email button {
        margin: 1em auto;
      }
      .form-email h3 {
        margin-top: 0;
      }
      .footer {
        /* display: block; */
        text-align: center;
        /* border: 1px solid transparent; */
      }
      .social-link {
        width: 40px;
        height: 40px;
        background-size: 100%;
      }
    }
  
  @media screen and (max-width: 320px) {
    h1 {
        font-size: 2.0em;
        /* background: rgba(0,0,0,.5) */
      }
      .header {
        background: linear-gradient(to right, red, black);
      }
      .hero {
        padding: 2em 1em;
      }
      .titulo-pro {
        text-align: center;
      }
      .social {
        margin-top: 3em
      }
      .logo img{
        margin-top: 0.3em;
        margin-bottom: 0.3em;
      }
      .acerca-titulo {
        color: #40D9BD;
      }
      .acerca-foto {
        border-radius: 100%;
      }  
      .project-imageContainer {
        margin-bottom: inherit;
      }
      .carousel-inner { 
        max-width: 100%;
    }
    .carousel-inner img {
        
        max-width: 100%;
    }
    .titulo-carousel{
      font-size: 1.5em;
    }
    .form-email input {
      margin-top: 10px;
      margin-bottom: 5px;
    }
      .footer {
        background: linear-gradient(to right, red, black);
      }
    }
   
  











